@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Nunito:wght@400;600&display=swap');

body{
    color: #ffffff;
    background-color: black;
    text-align: center;
    font-family: 'Nunito';
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


h1,h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  
.jogador {
    border: #ffffff solid 1px;

}
  
a {
    font-size: 28px;
    text-decoration: none;
    color: white;
  }
  
#detalhes {
    margin: 0 auto;
    width: 50%;
}
  
#imagem {
    float: left;
    margin-right: 3em;
    margin-left: 3em;
}
  

#feminino, #masculino{
    width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 0 auto;
    
}

@media (max-width : 1024px) {
    #feminino,#masculino{
        width: fit-content;
        grid-template-columns : 1fr 1fr 1fr 1fr;
    }
}

@media (max-width : 720px) {
    #feminino,#masculino{
        grid-template-columns : 1fr 1fr;
        font-size: 10pt;  
    }
}